server:
  port: 8081

mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml    #mybatis配置文件所在路径
  type-aliases-package: gjb.springcloud.entities        #所有的entity别名类所在的包
  mapper-locations:
  - classpath:mybatis/mapper/**/*.xml                   #mapper映射文件
  
spring:
  application:
    name: springcloud-dept
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource        #当前数据源操作类型
    driver-class-name: org.gjt.mm.mysql.Driver          #mysql驱动包
    url: jdbc:mysql://localhost:3306/cloudDB01          #数据库名称以及连接
    username: root
    password: 123456
    dbcp2:
      min-idle: 5                                       #数据库连接池的最小维持连接数
      initial-size: 5                                   #初始化连接数
      max-total: 5                                      #最大连接数
      max-wait-millis: 200                              #等待连接获取的最大超时时间
      
eureka:
  client:  #客户端注册eureka服务
    service-url:
      #defaultZone: http://localhost:7001/eureka      
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka,http://eureka7003.com:7003/eureka       
  instance: #设置别名
    instance-id: springcloud-dept8081-hystrix   #自定义hystrix服务名称信息
    prefer-ip-address: true       #访问路径可以显示IP地址
    
    
info: #配置点击服务之后显示详细信息
   app.name: springcloud
   company.name: zhongchi
   build.artifactId: $project.artifactId$
   build.version: $project.version$